pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#Eclipse
/.classpath
/.project
/.settings
/bin
/target

#Intellij
.idea/**
*.iml

# ici je choisis de laisser passer tous les fichiers présents dans /config (mauvaise pratique) 
#/config/application.properties

/logs


